<div>
    <h2 id="page-heading">
        <span>Contacts</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-contact" [routerLink]="['/contact/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Contact
            </span>
        </button>

        <div class="pure-u-sm-1" style="text-align: right">
            <div class="box">
                <h2><i class="fa fa-search"></i>Search contact</h2>
                <fieldset class="pure-group">
                    <input type="text" class="pure-input-1-2" [(ngModel)]="searchValue">
                </fieldset>
                <br>

                <div class="btn-group">
                    <button type="submit" (click)="clear()"
                            class="btn btn-primary float-right">
                        <fa-icon icon="search"></fa-icon>
                        <span class="d-none d-md-inline">Clear Filter</span>
                    </button>

                    <button type="submit" (click)="search()"
                            class="btn btn-success float-right">
                        <fa-icon icon="search"></fa-icon>
                        <span class="d-none d-md-inline">Search</span>
                    </button>
                </div>
            </div>
        </div>
    </h2>

    <app-alert-error></app-alert-error>

    <div class="alert alert-warning" id="no-result" *ngIf="isFiltered">
        <span>There are activated filters</span>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="contacts?.length === 0">
        <span>No contacts found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="contacts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="firstName"><span>First Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="lastName"><span>Last Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="phone"><span>Phone</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let contact of contacts ;trackBy: trackId">
                    <td><a [routerLink]="['/contact', contact.id, 'view']">{{ contact.id }}</a></td>
                    <td>{{ contact.firstName }}</td>
                    <td>{{ contact.lastName }}</td>
                    <td>{{ contact.phone }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/contact', contact.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/contact', contact.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(contact)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="contacts?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
